<table class="table table-sm table-hover">
<tr *ngFor = "let employee of employeeService.employeeList">
    <td>
        {{employee.firstName}} {{employee.lastName}}
    </td>
    <td>
        {{employee.designation}}
    </td>
    <td>
        <a class="btn" (click)="showSelectedEmployee(employee)">
            <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn text-danger" (click)="deleteEmployee(employee.empNo)">
            <i class="fa fa-trash-o"></i>
        </a>
    </td>
</tr>
</table>
