<div style = "text-align: center">
    <h2 class="jumbotorn bg-secondary text-white">Emplyee Register</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <app-employee></app-employee>
    </div>
    <div class="col-md-6">
        <app-employee-list></app-employee-list>
    </div>
</div>