<form class="emp-form" #employeeForm="ngForm" (ngSubmit) = onSubmit(employeeForm)>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control"  name="firstName" #firstNameId = "ngModel" [(ngModel)]="employeeService.selectedEmployee.firstName" placeholder="First Name" required>
            <!-- <div class="validation-error" *ngIf = "firstNameId.invalid && firstNameId.touched"> This field is required</div> -->
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="lastName"  #lastNameId = "ngModel" [(ngModel)]="employeeService.selectedEmployee.lastName" placeholder="Last Name" required>
            <!-- <div class="validation-error" *ngIf = "lastNameId.invalid && lastNameId.touched" >This filed is required</div> -->
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="designation" [(ngModel)]="employeeService.selectedEmployee.designation" placeholder="Designation">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="joiningDate" [(ngModel)]="employeeService.selectedEmployee.joiningDate" placeholder="Joining Date">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="salary" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Salary">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <button type = "submit" [disabled] = "!employeeForm.valid" class = "btn btn-lg btn-block btn-info"><i class="fa fa-floppy-o"></i> Submit</button>
        </div>
        <div class="form-group col-md-4">
            <button type = "button" class = "btn btn-lg btn-block btn-secondary" (click) = resetForm(employeeForm) ><i class="fa fa-repeat" ></i> Reset</button>
        </div>
    </div>
</form>

